body{
   margin:5px;
   padding:5px;
   line-height:1.15;
}
 
h1,h2, h3{
   font-weight: bold;
   margin-top:15px;
 
}
ul li{
   margin-left: 25px;
   list-style-type: upper-roman;
}

nav li {
   font-size: medium;
   display: inline-block; 
   color: blue;
   background-color:aqua;
   border: 2px solid black;
   border-radius: 25px; 
   padding: 15px;
   margin: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main img {
    width: 24%;
    padding: 15px;
    border: 5px dashed green;
    box-sizing: border-box;
}


div.gallery{
   display: grid;
   grid-template-columns: 250px 250px;
   border: 3px solid #0000ff; 
   width: 90%;
   justify-content: center;
   align-items: stretch;
}

.gallery img{
   width: 100%;
} 

.gallery img:last-child{
   grid-column-start: 1;
   grid-column-end: 3;
}


